@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0px;
	font-family:Arial,"微软雅黑";

}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
  color:#15a76e;
	}
.greet_table{
   width:960px;	
   margin-top:25px;
   margin:0 auto;
	}
.greet_item{
    width:400px;
	float:left;
	
	margin-left:50px;
	margin-bottom:30px;
	background:#DEF8EA;
	}	
.greet_item p{
	text-align:center;
	margin-top:20px;
	padding-bottom:30px;
	}	 	
.greet_title{
	text-align:center;
	background:#15a76e;
	color:#f0f0f0;
	padding:3px 10px;}	
.buttom{
	position: relative;
	float:right;
	width:100px;
	height: 28px;
	text-align: center;
	color:#fff;
	cursor: pointer;
	background-color:#23a96f;
	border:1px solid #8F9BB3;
	font-family:"微软雅黑";
	margin-top:25px;
	margin-right: 20px;
}		
