@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0px;
	font-family:Arial,"微软雅黑";


}
a{
	text-decoration:none;
	color: #fff;
}
a:hover{
  color:#DEF8EA;
	}

li{
	width:450px;
	height: 40px;
	text-align: center;
	padding-top:10px;
	background-color:#15a76e; 
	margin-top: 25px;
	list-style-type: none;
	font-size: 20px;
	border-radius: 20px;
	box-shadow:2px 2px 3px #333;

}
