@charset "utf-8";
/* CSS Document */
*{
	font-family:"微软雅黑"
}

a{
	
	text-decoration:none;
	color:inherit;
}
table.show_check{
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;
	
}
table.show_check th{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ccc;
	background-color:#219E69;
	color:#eee;
	
}
table.show_check td{
	width:100px;
	border-width: 1px;
	padding:8px;
	padding-left:15px;/*改了text-align:center*/
	border-style:solid;
	border-color:#CCC;
	background-color: #ffffff;

}
.show_check tr:hover td {background:#ddf9ed;}
.show_check .correct{
	text-align:center;
}